:root {
  --main-fnt-clr: #dcab6b;
  /* --main-fnt-clr: rgb(255, 187, 0); */
  --primary-color: #dcab6b;
  --primary-body-clr: rgb(20, 20, 20);

  /* light mode */
  --light-body: #a9e06d;
  --light-card: #f3faf0;
  --light-header: #046104;
  --light-text: #333;
}
.light-mode .light-contact {
  display: flex !important;
}

.light-mode .contact-image {
  display: none !important;
}
body.light-mode {
  background: linear-gradient(to right top, #a9e06d, #e5f8dd);
  display: flex;
  align-items: center;
  justify-content: center;
}
.light-mode .contact-section {
  background: transparent !important;
}
.light-mode p {
  color: var(--light-text) !important;
}
.light-mode .number {
  color: rgb(0, 0, 0) !important;
}
.light-mode .myEmail {
  color: rgb(2, 2, 2) !important;
}
.light-mode .contact-form input {
  background-color: var(--light-card) !important;
  color: var(--light-text) !important;
}
.light-mode .contact-form textarea {
  background-color: var(--light-card) !important;
  color: var(--light-text) !important;
}
.light-mode .contact-form textarea:focus {
  background-color: #313131 !important;
  color: white !important;
}
.light-mode .contact-form input:focus {
  background-color: #313131 !important;

  color: white !important;
}
.light-mode .contact-form .btn {
  /*  background-color: #f4b860; */
  background: linear-gradient(to right top, #046104, #37d622b9);
  font-weight: 500;
  border-radius: 8px;
  color: #f0f0f0 !important;
  border: none !important;
}
.light-mode .contact-form .btn:hover {
  background: linear-gradient(to right top, #37d622b9, #046104);
  color: #f0f0f0 !important;
}
.light-mode .contact-text h2 span {
  color: var(--light-header) !important;
}
.light-mode .contact-text h2 {
  color: rgb(26, 26, 26);
}
.light-mode i {
  color: black !important;
}
.light-mode #contacts-icon a {
  color: black !important;
  font-family: 'Poppins' !important;
  cursor: text !important;
}
body {
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  background-color: rgb(20, 20, 20) !important;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
html {
  overflow-x: hidden !important;
}

.contact-container {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.contact-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  padding: 20px 40px;
  margin: 0 !important;
  box-sizing: border-box;
  background-color: rgba(20, 20, 20) !important;
}

.contact-text {
  flex: 1;
  max-width: 550px;
  padding: 20px;
}
.name-email {
  display: flex;
  min-width: 100%;
}
@media (max-width: 520px) {
  .name-email {
    display: flex;
    flex-direction: column;
  }
  .name-email div {
    width: 100% !important;
  }
  .contact-text {
    max-width: 350px;
  }
}
.contact-text h2 {
  font-size: 36px;
  font-weight: 700;
}
.contact-text .try {
  width: 100%;
}
.name-email {
  display: flex;
  min-width: 100%;
  gap: 0px 12px;
}
.name-email .this-name {
  width: 60%;
}
.name-email .this-email {
  width: 100%;
}

.contact-text h2 span {
  color: #f4b860;
}

.contact-text p {
  margin: 20px 0;
  font-size: 15px;
  color: #ccc;
}

.contact-form input,
.contact-form textarea {
  background: #222;
  border: none;
  color: #fff;
  border-radius: 15px;
  width: 100%;
  resize: none !important;
}
.name-email input:focus {
  color: black !important;
}
.name-email input {
  color: #fff !important;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #888;
}
.contact-form input:focus {
  box-shadow: 0 0 4px #f4b860 !important;
}
.contact-form textarea:focus {
  box-shadow: 0 0 4px #f4b860 !important;
}

.contact-form .btn {
  background: linear-gradient(to right top, #f0b262, #f3e6d0);
  font-weight: 500;
  border-radius: 8px;
}

.contact-form .btn:hover {
  background: linear-gradient(to right top, #f3e6d0, #f0b262);
  color: #222 !important;
}

.contact-image {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
  margin-left: 50px;
  height: 450px;
  animation: slideFadeIn 1s ease;
}
.light-contact {
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
  margin-left: 50px;
  height: 450px;
  transition: 0.3s ease-in-out;
  animation: slideFadeIn 1s ease;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0.8;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.light-contact img {
  max-width: clamp(15%, 35vw, 100%) !important;
  height: auto;
  z-index: 2;
  border-radius: 20px;
}

.contact-image img {
  max-width: clamp(15%, 35vw, 100%) !important;
  height: auto;
  z-index: 2;
  border-radius: 20px;
}

#contacts-icon {
  position: absolute;
  bottom: 0;
  z-index: 3;
  left: 20px;
  color: #fff !important;
}

#contactcs-icon a {
  color: #fff !important;
  margin-left: 12px;
  font-size: 1rem;
}

.modal-content {
  background-color: rgb(228, 228, 228);
  color: black;
}
i {
  color: white !important;
}
