.btn-demo,
body {
  overflow: hidden;
}
:root {
  --main-fnt-clr: #dcab6b;
  --primary-color: #dcab6b;
  --primary-body-clr: rgb(20, 20, 20);
  --light-body: #a9e06d;
  --light-card: #f3faf0;
  --light-header: #046104;
  --light-text: #333;
}
body {
  background-color: var(--primary-body-clr);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden !important;
}
body.light-mode {
  background: linear-gradient(to right top, #a9e06d, #f3faf0);
}
.light-mode .project h5,
.light-mode h2 {
  color: var(--light-header) !important;
}
.light-mode .project {
  background-color: var(--light-card) !important;
}
.light-mode .project p {
  color: var(--light-text) !important;
}
.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container img:active {
  transform: scale(2);
}
.container h5 {
  color: var(--main-fnt-clr) !important;
}
.container p {
  color: #fff !important;
}
.light-mode .btn-demo {
  background: linear-gradient(to top right, #046104, #37d622b9);
  font-weight: 500;
  border-radius: 8px;
  color: #f0f0f0 !important;
  border: none !important;
}
.light-mode .btn-demo:hover {
  background: linear-gradient(to top right, #37d622b9, #046104);
}
.btn-demo {
  border-radius: 8px;
  position: relative;
  z-index: 1;
  background: linear-gradient(to right top, #f0b262, #f3e6d0);
  font-weight: 500;
}
.btn-demo:hover {
  background: linear-gradient(to right top, #f3e6d0, #f0b262);
}
.projects-container {
  padding: 20px;
}
.sub-container {
  width: 90%;
  min-height: 100vh;
}
.project {
  margin-bottom: 30px;
  position: relative;
  background: rgba(255, 255, 255, 0.03) !important;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 25px;
  transition: transform 0.2s ease-in-out !important;
}
.project:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px) !important;
}
.fa-bootstrap {
  color: #742cfa !important;
}
.fa-html5 {
  color: #ff4500 !important;
}
.fa-css3 {
  color: #133cf5 !important;
}
.fa-js {
  color: #ff0 !important;
}
.fa-php {
  color: #6b6a6b !important;
}
.light-mode .fa-html5 {
  color: #d6450c !important;
}
.light-mode .fa-github {
  color: #000 !important;
}
.light-mode .fa-git-alt {
  color: #ce440e !important;
}
.fa-git-alt {
  color: #cf460f !important;
}
.light-mode .fa-wordpress {
  color: #413f3f !important;
}
.light-mode .fa-figma {
  color: #049dc4 !important;
}
.light-mode .fa-sass {
  color: #ec538e !important;
}
.light-mode .fa-css3-alt {
  color: #064eb9 !important;
}
.light-mode .fa-js {
  color: #ffae00 !important;
}
.light-mode .php {
  color: #3f3a3a;
}
.sub-container i {
  font-size: 40px;
  margin-right: 5px;
}
.fab:hover,
.fas:hover {
  animation: 1s spinHover;
  transition: transform 0.3s ease-in-out;
}
@keyframes spinHover {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
