:root {
  --main-fnt-clr: #dcab6b;
  /* --main-fnt-clr: rgb(255, 187, 0); */
  --primary-color: #dcab6b;
  --primary-body-clr: rgb(20, 20, 20);

  /* light mode */
  --light-body: #a9e06d;
  --light-card: #f3faf0;
  --light-header: #046104;
  --light-text: #333;
}

body {
  background-color: var(--primary-body-clr);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  overflow-x: hidden !important;
}

body.light-mode {
  /*   background-color: var(--light-body) !important; */
  background: linear-gradient(to right top, #a9e06d, #f3faf0);
}
.light-mode .project h5 {
  color: var(--light-header) !important;
}

.light-mode .project {
  background-color: var(--light-card) !important;
}
.light-mode .project p {
  color: var(--light-text) !important;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container img:active {
  transform: scale(2);
}
.container h5 {
  color: var(--main-fnt-clr) !important;
}
.container p {
  color: white !important;
}
.light-mode .btn-demo {
  background: linear-gradient(to top right, #046104, #37d622b9);
  font-weight: 500;
  border-radius: 8px;
  color: #f0f0f0 !important;
  border: none !important;
}
.light-mode .btn-demo:hover {
  background: linear-gradient(to top right, #37d622b9, #046104);
}

.btn-demo {
  border-radius: 8px;
  font-weight: normal;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-demo {
  background: linear-gradient(to right top, #f0b262, #f3e6d0);
  font-weight: 500;
}
.btn-demo:hover {
  background: linear-gradient(to right top, #f3e6d0, #f0b262);
}

.projects-container {
  padding: 20px;
}

.sub-container {
  width: 90%;
  min-height: 100vh;
}

.project {
  margin-bottom: 30px;
  position: relative;
  background: rgba(255, 255, 255, 0.03) !important;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 25px;
  transition: transform 0.2s ease-in-out !important;
}

.project:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px) !important;
}

.fa-bootstrap {
  color: rgb(116, 44, 250) !important;
}
.fa-html5 {
  color: orangered !important;
}
.fa-css3 {
  color: rgb(19, 60, 245) !important;
}
.fa-js {
  color: yellow !important;
}
.fa-php {
  color: rgb(107, 106, 107) !important;
}

.light-mode .fa-html5 {
  color: rgb(214, 69, 12) !important;
}
.light-mode .fa-github {
  color: black !important;
}

.light-mode .fa-git-alt {
  color: rgb(206, 68, 14) !important;
}
.fa-git-alt {
  color: rgb(207, 70, 15) !important;
}
.light-mode .fa-wordpress {
  color: rgb(65, 63, 63) !important;
}
.light-mode .fa-figma {
  color: rgb(4, 157, 196) !important;
}
.light-mode .fa-sass {
  color: rgb(236, 83, 142) !important;
}
.light-mode .fa-css3-alt {
  color: rgb(6, 78, 185) !important;
}
.light-mode .fa-js {
  color: rgb(255, 174, 0) !important;
}
.light-mode h2 {
  color: var(--light-header) !important;
}
.light-mode .php {
  color: rgb(63, 58, 58);
}
.sub-container i {
  font-size: 40px;
  margin-right: 5px;
}

.fab:hover,
.fas:hover {
  animation: spinHover 1s ease;
  transition: transform 0.3s ease-in-out;
}

@keyframes spinHover {
  0% {
    transform: rotate(0deg);
  }
  /*  50% {
    transform: rotate(180deg);
  } */
  100% {
    transform: rotate(360deg);
  }
}
