:root {
  --main-fnt-clr: #dcab6b;
  --primary-color: #dcab6b;
  --primary-body-clr: rgb(20, 20, 20);
  --light-body: #a9e06d;
  --light-card: #f3faf0;
  --light-header: #046104;
  --light-text: #333;
}
body {
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
}
html {
  overflow-x: hidden !important;
}
.fa-git-alt,
.light-mode .fa-git-alt,
.light-mode .fa-html5 {
  color: #e95115 !important;
}
.light-mode .react {
  color: rgb(59, 162, 247) !important;
}
.light-mode .fa-github,
.light-mode .skill-label {
  color: #000 !important;
}
.light-mode .fa-wordpress {
  color: #413f3f !important;
}
.light-mode .fa-figma {
  color: #049dc4 !important;
}
.light-mode .fa-sass {
  color: #ec538e !important;
}
.light-mode .fa-css3-alt {
  color: #064eb9 !important;
}
.light-mode .fa-js {
  color: #fb0 !important;
}
.light-mode h2 {
  color: var(--light-header) !important;
}
body.light-mode {
  background: linear-gradient(to right top, #a9e06d, #f3faf0);
}
.skills-container {
  padding: 20px;
  min-height: 100vh;
}
.fa-bootstrap {
  color: #4d0080;
}
.skills-grid {
  width: 100%;
}
.skill-item {
  text-align: center;
  margin-bottom: 2rem;
  transition: transform 0.3s;
  font-family: Poppins !important;
}
.skill-item i {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  transition: transform 0.3s, color 0.3s;
}
@media (min-width: 1368px) {
  body,
  html {
    overflow: hidden;
  }
}
.tailwind {
  transition: transform 0.3s, color 0.3s;
}
.skill-item .tailwind:hover {
  transform: scale(1.2);
}
.skill-item:hover i {
  transform: scale(1.2);
}
.skill-label {
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
.react {
  animation: spin 13s infinite;
}
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}
