body,
html {
  overflow-x: hidden !important;
}
#sidebar .nav-link,
h1,
h2,
h3,
h4,
h5,
input,
p,
small {
  font-family: Poppins !important;
}
#progress-loader,
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
}
.initial-load .circle .dot,
.initial-load .circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
:root {
  --main-fnt-clr: #dcab6b;
  --primary-color: #dcab6b;
  --primary-body-clr: rgb(20, 20, 20);
  --light-body: #a9e06d;
  --light-card: #f3faf0;
  --light-header: #046104;
  --light-text: #333;
}
body {
  box-sizing: 0;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: auto !important;
}
.error-message {
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}
.light-mode .nav-item a::after {
  background-color: var(--light-header) !important;
}
.light-mode .divider {
  color: #747373 !important;
}
.divider {
  color: #a09a9a !important;
}
.light-mode #sidebar {
  background: linear-gradient(to right top, #fff, #f3faf0) !important;
  box-shadow: 0 0 5px #185705 !important;
}
.light-mode .mobile-sidebar {
  background-color: #fff !important;
  box-shadow: 0 0 5px #185705 !important;
}
.explore-btn:hover,
.nav-link.active,
.nav-link:hover {
  background-color: transparent !important;
}
.light-mode .explore-btn {
  color: #0f1d0f;
}
.light-mode .nav-link,
.light-mode .nav-profile h4,
hr {
  color: #000 !important;
}
.light-mode #mobile-nav {
  background-color: #fff !important;
  box-shadow: 0 0 3px #185705 !important;
}
.light-mode .desktop-icons a,
.light-mode .mobile-icons a {
  color: #161616 !important;
}
.light-mode .section-heading {
  color: var(--light-header) !important;
}
.mobile-icons a {
  color: #fff;
}
.explore-btn {
  outline: 0 !important;
  border: none !important;
  font-weight: 600;
  color: #fff;
}
.explore-btn:hover {
  color: #9c9c9c !important;
}
.mobile-sidebar {
  background-color: #1b1b1b;
}
#sidebar {
  height: 100vh;
  width: 240px;
  background: linear-gradient(
    to right bottom,
    #000 0,
    #0e0e0e 50%,
    #0e0d0d 100%
  );
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
#sidebar .nav-link {
  color: #fff;
}
.offcanvas {
  width: 250px !important;
}
#sidebar .nav-link:hover {
  background-color: #495057;
}
#main-content {
  margin-left: 240px;
  /*   padding: 24px; */
}
.nav-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.nav-profile h4 {
  font-size: 1rem !important;
}
.nav-profile img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
  background: linear-gradient(to right top, #000, #474747);
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-item a {
  padding-left: 0 !important;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.nav-item a::after {
  content: '';
  width: 0;
  position: absolute;
  left: 0;
  height: 0.5px;
  bottom: 0;
  background: #dcab6b;
  transition: width 0.5s;
}
.nav-item a.active::after,
.nav-item a:hover::after {
  width: 100%;
}
.social-icons i {
  transition: color 0.3s, font-size 0.3s ease-in-out;
}
.social-icons i:hover {
  font-size: 35px !important;
  color: #000;
}
.name {
  color: var(--main-fnt-clr) !important;
}
#progress-loader {
  height: 4px;
  width: 100%;
  z-index: 3000;
  pointer-events: none;
}
#progress-bar {
  height: 100%;
  width: 0%;
  background-color: #9fcff7;
  transition: width 0.3s;
}
#mobile-nav {
  transition: transform 0.3s;
  background-color: #000 !important;
  z-index: 500 !important;
  box-shadow: 0 0 3px #2b2b2b;
}
.section-heading {
  color: #ecebeb !important;
  font-size: clamp(1.8rem, 3vw, 2rem) !important;
  font-weight: 500 !important;
  text-align: center !important;
  padding: 60px 0;
}
.initial-load {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  --color: hsl(0, 0%, 87%);
  --animation: 2s ease-in-out infinite;
  background: linear-gradient(to right top, #000, #2e2e2e) !important;
}
/* .flip {
  animation: 2s forwards flipAndShrink;
} */

/* .flip {
  animation: none;
}

.flip.animate {
  animation: 2s forwards flipAndShrink;
}

@keyframes flipAndShrink {
  0% {
    transform: translateX(0d) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateX(100%) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-100%) scale(1);
    opacity: 0.7;
  }
} */
/* Flip Animation */
@keyframes flipAndShrink {
  0% {
    transform: translateX(0d) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateX(100%) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translateX(100%) scale(1);
    opacity: 0.4;
  }
}

.initial-load.flip {
  animation: none;
}

.initial-load.flip.animate {
  animation: flipAndShrink 1s forwards ease-in-out;
}

.initial-load .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 2px var(--color);
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}
.initial-load .circle .dot {
  width: 16px;
  height: 16px;
  background-color: var(--color);
  animation: dot-keys var(--animation);
}
.initial-load .circle .outline {
  width: 20px;
  height: 20px;
  animation: outline-keys var(--animation);
}
.circle:nth-child(2),
.circle:nth-child(2) .dot {
  animation-delay: 0.3s;
}
.circle:nth-child(3),
.circle:nth-child(3) .dot {
  animation-delay: 0.6s;
}
.circle:first-child .outline,
.circle:nth-child(4),
.circle:nth-child(4) .dot {
  animation-delay: 0.9s;
}
.circle:nth-child(2) .outline,
.circle:nth-child(5),
.circle:nth-child(5) .dot {
  animation-delay: 1.2s;
}
.circle:nth-child(3) .outline {
  animation-delay: 1.5s;
}
.circle:nth-child(4) .outline {
  animation-delay: 1.8s;
}
.circle:nth-child(5) .outline {
  animation-delay: 2.1s;
}
@keyframes circle-keys {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
}
@keyframes dot-keys {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
}
@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    outline: transparent solid 0;
    outline-offset: 20px;
    opacity: 0;
  }
}
.loader-name h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  color: rgba(192, 188, 188, 0.534);
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
@media (max-width: 520px) {
  .loader-name h1 {
    font-size: 2rem !important;
  }
}
.loader-name h1 span {
  opacity: 0.2;
  animation: 2s forwards glowEach;
  animation-delay: calc(var(--i) * 0.2s);
}
@keyframes glowEach {
  0% {
    opacity: 0.6;
    text-shadow: 0 0 2px #fff;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 2px #fff;
  }
}

.loader h5 {
  color: #bbb9b9 !important;
}
@keyframes fadeInMove {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.slider,
.slider::before {
  position: absolute;
  transition: 0.4s;
}
.theme-toggle-wrapper {
  z-index: 1100 !important;
}
.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  border-radius: 34px;
}
.slider::before {
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 0.5px 2px #000;
}
input:checked + .slider {
  background-color: #4caf50;
}
input:checked + .slider::before {
  transform: translateX(26px);
}
